.app-logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

.app-logo-container:hover {
    cursor: pointer;
  }

.app-logo-container:hover .app-logo-text{
  color: rgb(255, 207, 105);
  -webkit-text-stroke-color: rgb(209, 136, 41);
  text-shadow: 3px 0 rgb(209, 136, 41);
}

.app-logo-img-container {
  height: 7vh;
  width: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: 0.1s;
}

.app-logo-img {
  height: 6vh;
  width: 6vh;
  animation: ccw-icon-rotation 25s infinite linear;
}

@keyframes ccw-icon-rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.app-logo-text {
  margin: 0;
  /* font-size: 50px; */
  font-size: 6.3vh;
  font-family: "Passion One", cursive;
  -webkit-text-stroke-width: 2px;
  color: white;
  -webkit-text-stroke-color: darkgrey;
  text-shadow: 3px 0 darkgrey;
  letter-spacing: 0.2rem;
}

@media (max-height: 600px) {
  .app-logo-text {
    -webkit-text-stroke-width: 1px;
  }
}