.subline-card-container {
  width: 19%;
  height: 180px;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}

.subline-content {
  width: 100%;
  height: 100%;
  /* background-color: white; */
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subline-content-img-container {
  width: 80%;
  height: 40%;
  /* background-color: white; */
}

.subline-content-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.subline-content-degree-container {
  width: 90%;
  height: 12%;
  /* background-color: white; */
  /* margin-top: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.subline-content-degree-text {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.subline-content-main-container {
  width: 95%;
  height: 12%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.subline-content-main-text {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.subline-content-date-container {
  width: 90%;
  height: 15%;
  /* background-color: white; */
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subline-content-date-text {
  margin: -2px;
  font-size: 15px;
  font-weight: bold;
}
