.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.1s;
  /* background-color: black; */
}

.main-container {
  width: 600px;
  height: 625px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(87, 12, 156); */
}

.main-weather-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */
}

@media (max-width: 600px), (max-height: 750px) {
  .main {
    transform: scale(0.8);
  }
}

@media (max-width: 485px), (max-height: 625px) {
  .main {
    transform: scale(0.7);
  }
}

@media (max-width: 425px), (max-height: 550px) {
  .main {
    transform: scale(0.6);
  }
}

@media (max-width: 365px), (max-height: 460px) {
  .main {
    transform: scale(0.55);
  }
}

@media (max-height: 430px) {
  .main {
    transform: scale(0.5);
  }
}

@media (max-height: 390px) {
    .main {
      transform: scale(0.45);
    }
  }

  @media (max-height: 350px) {
    .main {
      transform: scale(0.4);
    }
  }

/* @media (max-height: 500px) {
  .main-weather-container {
    flex-direction: column;
  }
} */
